.calc__btn {
  appearance: none;
  display: inline-block;
  vertical-align: center;
  font-size: $button-font-size + 10;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  color: $button-font-color;
  cursor: pointer;
  padding: $button-padding;
  border: 0;
  transition: color 300ms ease, background-color 300ms ease;
  width: 33%;

  @media(min-width: 480px) {
    font-size: $button-font-size;
  }

  &:hover {
    color: $button-font-color-hover;
  }

  &--primary {
    background-color: $primary;
    color: $black;
    font-size: $button-font-size + 10;
    font-weight: $font-weight-bold;

    &:hover {
      background-color: darken( $primary, 5% );
    }
  }

  &--black {
    background-color: $black;

    &:hover {
      background-color: darken( $black, 10% );
    }
  }

  &--black-dark {
    background-color: $black-dark;

    &:hover {
      background-color: darken( $black-dark, 5% );
    }
  }

  &.expand {
    width: 50%;
  }

  &.expand-2 {
    width: 67%;
  }
}
