.calc {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $black-dark;

  @media(min-width: 480px) {
    max-width: $calc-width;
    min-height: 0;
  }

  #{&}__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 20px 30px;
    background-color: $calc-screen-bg-color;
    color: $calc-screen-font-color;
    font-size: $calc-screen-font-size;
    font-family: $font-size-base;
    min-height: 125px;

    @media(min-width: 375px) {
      min-height: 165px;
    }

    @media(min-width: 375px) {
      min-height: 125px;
    }

    .previous-number,
    .current-number {
      font-family: $calc-screen-font-family;
      font-weight: $calc-screen-font-weight;
      overflow-wrap: break-word;
    }

    .previous-number > span {
      display: inline-block;
      vertical-align: middle;
      font-size: $calc-screen-operand-font-size;
      margin-left: 5px;
    }

    .current-number {
      margin-top: 5px;
      font-size: 50px;
    }
  }

  #{&}__body {
    display: flex;
    min-height: calc( 100vh - 165px );

    @media(min-width: 375px) {
      min-height: calc( 100vh - 205px );
    }

    @media(min-width: 480px) {
      min-height: 0;
    }

    .calc__btn {
      flex-grow: 1;
    }
  }

  #{&}__left {
    display: flex;
    flex-direction: row;
    width: 75%;
    flex-wrap: wrap;
  }

  #{&}__right {
    display: flex;
    flex-direction: column;
    width: 25%;

    .calc__btn {
      width: 100%;
    }
  }
}
