// Colours
$primary:    #1abc9c;
$black:      #34495e;
$black-dark: #2c3e50;
$white:      #fff;

// Type
$font-family-base:  'Heebo', sans-serif;
$font-size-base:    20px;
$font-weight-light: 100;
$font-weight-bold:  300;

// Buttons
$button-font-family:      $font-family-base;
$button-font-size:        $font-size-base;
$button-font-weight:      $font-weight-light;
$button-font-color:       $white;
$button-font-color-hover: $white;
$button-padding:          15px;
$button-border:           1px solid;
$button-border-color:     darken( $black-dark, 10% );

// Calculator screen
$calc-width:                    350px;
$calc-screen-font-family:       $font-family-base;
$calc-screen-font-size:         30px;
$calc-screen-font-weight:       $font-weight-bold;
$calc-screen-font-color:        $white;
$calc-screen-bg-color:          darken( $black-dark, 5% );
$calc-screen-operand-font-size: 20px;
